<!-- Footer
		============================================= -->
<footer id="footer">

  <!-- Copyrights
			============================================= -->
  <div id="copyrights">

    <div class="container clearfix">

      <div class="col_half">
        <!-- <img src="images/footer-logo.png" alt="" class="footer-logo">  -->
        Secretaria de Estado de Fazenda e Planejamento do Rio de Janeiro - Av. Presidente Vargas, nº 670 - Rio de Janeiro / RJ -
        20071-001 Telefone: (21)2333-1829 - Suporte: suportesei@fazenda.rj.gov.br
        Inc.
      </div>

      <div class="col_half col_last tright">
        <div class="copyrights-menu copyright-links fright clearfix">
          <a href="#">Inicial</a>/<a href="#">O que é</a>/<a href="#">O que muda</a>/<a href="#">Capacitação</a>/<a href="#">Responsabilidade</a>/<a
            href="#">SGBD</a> /<a href="#">Legilação</a>/<a href="#">Capacitação</a>/<a href="#">Projeto</a>/<a href="#">Metodologia de Gestão /</a>/<a href="#">Base de Conhecimento</a>
        </div>
      </div>

    </div>

  </div><!-- #copyrights end -->

</footer><!-- #footer end -->
