
#header .logo-svg{
  height: 2.8rem;
    margin: 39px 0px 16px 0px
}
/*
.breadcrumb {
    position: inherit !important;
 width: auto !important;
    background-color: transparent !important;
    padding: 0 !important;
    font-size: 13px;
    margin: 19px 0 0px 20px!important;
}

.breadcrumb-item--current{
    position: relative;
    top: -10px;
    font-weight: 500;
    font-size: 1.3rem;
}
.breadcrumb-item--current a{
    color: #369
}
*/
