

<!-- Header
		============================================= -->
<header id="header" class="sticky-style-2">

  <div class="container clearfix">
    <div class="row justify-content-between clearfix">
       <div class="col-md-2 col-sm-5 col-2 align-self-start">
        <!-- Logo
						============================================= -->
        <div id="logo" class="nomargin">
          <a routerLink="/" title="voltar para inicial">
         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 882.66669 276" class="logo-svg" shape-rendering="optimizeQuality">
								  <g fill-rule="evenodd">
								    <path d="M413.328 165.1484v59.24013h-43.9827V61.59067H422.68c44.24665 0 66.368 16.03467 66.368 48.10533 0 18.856-9.20535 33.442-27.616 43.76134l47.43732 70.9312H458.984l-34.52-59.24014zm0-33.07106h8.23866c15.368 0 23.05066-6.79334 23.05066-20.37867 0-11.20933-7.536-16.816-22.60533-16.816h-8.684v37.19467m-55.8187 68.09813c0 13.00373-10.8547 23.5448-24.2427 23.5448-13.388-.00054-24.24136-10.54054-24.24136-23.5448 0-13.00413 10.85333-23.5448 24.24133-23.5448 13.388 0 24.24266 10.54067 24.24266 23.5448M256.6346 224.78173h44.97454v-165.256H256.6346zm-21.208-36.24426s1.84134 13.58547 4.884 29.04746c-124.8742 41.15934-130.5398-61.39586-130.5398-61.39586s-5.26507-97.63973 74.26386-98.33706c75.10933-1.1613 64.64667 98.945 64.64667 98.945H151.712c4.64933 58.57137 83.71466 31.74057 83.71466 31.74057zm-26.50932-63.1188c-.46533-3.13733.26267-35.344-26.044-36.74-26.308-1.396-32.092 36.74-32.092 36.74h58.136" fill="#4492d5"></path>
								    <path d="M.2203 218.24787l8.72033-29.976s52.86564 22.8912 58.86097-4.35827c5.99626-27.2516-68.12608-24.52506-62.67712-75.75893C10.575 56.92534 62.8964 54.2 102.6828 68.916c-2.18067 11.99067-6.5468 31.328-6.5468 31.328s-48.5-18.79333-50.1344 7.368c-1.63493 26.16 64.31146 15.80267 63.7656 71.94214-.54534 56.13706-74.66613 59.40413-109.5469 38.69373m525.2157-5.99627c0 10.61507-1.99335 18.11147-5.11068 22.4916-3.11867 4.38027-8.53067 6.5704-15.80533 6.5704-3.1174 0-6.7747-.27813-9.448-.83547-2.672-.55626-4.1507-1.05626-8.3347-1.5032v34.186c8.368 1.55834 15.464 2.3375 23.48 2.3375 19.3026 0 33.8773-5.6604 43.5253-16.98123 9.65062-11.32027 14.576-28.00467 14.576-50.0532V98.92l-42.8826 22.636v90.6956" fill="#4492d5"></path>
								    <path d="M835.21065 241.014c2.47333-2.14107 4.868-4.37027 7.18-6.68227 5.67866-5.6776 10.85466-11.85413 15.46266-18.45773H731.5067l.30667.35627.04533.05146.26.30574.24.28226.06533.07614.13067.1552.17067.20413.17466.2084.03065.038.564.68387.08933.10826.04.0484.5907.73027.04536.05733.248.3104.212.2672.08.10147.128.1636.16133.20627.17065.21773.11867.15307.068.08906.21733.28227.00132.00107.24935.32706.036.04587.284.37453.0053.00774.27735.36826.04536.062.23467.31454.0867.1172.192.26146.012.01614.232.31666.03332.0464.16533.22707.11067.15307.204.28386.07066.0984.24133.33907.032.04373.27066.38387.00933.012.26.37347.21332.30733.05468.07867.08538.12386.18133.26414.12268.18013.14133.20787.06267.0916.46133.68906.2333.3516.0267.04067.25867.3932.01065.01613.24535.37814.048.074.208.32133.084.13067.16933.2656.1187.18906.132.20894.15466.2468.0947.1516.19068.3052.05866.0948.224.3636.0227.03693.244.40267.0133.02026.2307.38227.048.07973.19333.3244.08136.13814.15863.26706.00534.01.19067.32494.04268.07133.148.25627.088.15106.18134.3156.05332.09227.21465.37547.01864.0344.232.40986.01467.026.21466.38547.0467.08547.1813.3276.0787.1448.012.0224.21866.39893.028.052.11333.20947.14267.26613.08.14947.17468.32653.0467.0896.204.388.016.02973.21736.41814.016.03133.2.38853.04535.0916.168.3292.07734.1516.13465.26974.10664.2136.016.0312.20534.4152.01862.03746.07333.1484.164.33694.04266.08706.19335.39947.012.02547.204.42653h87.28m7.17974-199.35133c-3.13334-3.13466-6.42-6.11466-9.84667-8.93466l.32934.2734c-.8106 1.31337-1.6493 2.58937-2.5133 3.828h-58.8773c-1.832 0-3.316 1.48537-3.316 3.316 0 1.832 1.484 3.316 3.316 3.316h53.71867c-3.50678 4.0546-7.31078 7.6346-11.31344 10.8026h-33.0987c-1.83065 0-3.316 1.484-3.316 3.3147 0 1.832 1.48535 3.31736 3.316 3.31736h23.50135c-33.572 20.18-74.736 16.948-74.736 16.948l-3.216 5.5174 44.63067 5.096c4.1947.876 5.9147 8.27332 5.9147 8.27332s6.76936 1.076 8.54536 3.49067c4.444 3.94266 2.13468 13.77066 2.13468 13.77066s-22.46132-3.616-49.808 2.95335c-25.24132 6.22134-36.34932 10.58134-41.20665 13.09067-22.9667 9.12537-32.98536 21.24577-37.2667 29.1124l-.056-.13903-.3173.83385c-1.924 3.7068-2.54268 6.348-2.688 7.08136l-4.13468 10.8952h14.70268l-3.988-9.91815c.644-2.4933 5.88667-18.9152 34.008-30.80824 5.28 6.1452 13.89067 16.7769 13.30667 20.1321h-30.3987l-5.2694 20.5943h201.9347c3.84666-12.5968 5.91733-25.96867 5.91733-39.8224 0-37.61734-15.2533-71.68-39.9093-96.33467M610.852 121.1014c-.68533 5.536-1.04 11.17464-1.04 16.896 0 4.8609.25734 9.6625.75467 14.3928 2.54267-4.3923 7.36133-10.3435 10.968-14.57416l6.01867 3.14667c1.62266.8494 3.628.2227 4.476-1.4013.848-1.6227.22133-3.6267-1.40267-4.476l-4.592-2.4.09867-.1093s-6.97867-3.42933-15.28134-11.47333v-.00132m33.672 56.7184l-5.272-20.60147H611.16l-.04267-.3052c.99466 7.2036 2.564 14.22292 4.64533 21.0156l-.028-.0932-.00533-.01574H644.524m111.4893 96.0599c.36-.02606.71735-.05314 1.076-.0823l-1.076.0823M616.70665 180.8891c.25867.7812.52533 1.55986.79733 2.33492-.27333-.77454-.53866-1.55374-.79733-2.33494" fill="#1c63ac"></path>
								    <path d="M764.34265 177.81974L786.4693 134.816c11.17335-24.076 19.25468-9.18666 19.25468-9.18666s4.02533-3.87734 8.56933-6.096c6.096-3.88 11.1614 4.708 11.1614 4.708s1.248-5.84134 10.59338-7.01067c2.088-.26 6.95067-34.98533 6.95067-34.98533S844.1333 69.388 849.032 66.108c2.404.408 4.78267.932 7.136 1.55334 3.27067 3.56267 3.25467 9.82 3.25467 9.82l4.03866 67.68586 18.632.35734c-.6093 11.17653-2.56663 21.9948-5.71063 32.2952h-112.04" fill="#7b7979"></path>
								    <path d="M673.27598 208.49374l10.46 15.53173 18.004 5.14906-11.53866 14.74734.66666 18.71453-17.592-6.41707-17.592 6.41707.66667-18.71347-11.53867-14.7484 18.00267-5.14906 10.46133-15.53173m152.84267 39.7448h-75.06667c3.16933 8.11973 5.40133 16.67343 6.57333 25.5151 25.468-2.1422 48.944-11.2911 68.4934-25.5151" fill="#b49b1e"></path>
								    <path d="M314.16 164.11827h42.8828V.95427H314.16zm-10.36667-140.4396c0 13.00267-10.85467 23.544-24.24267 23.544-13.38933 0-24.24133-10.54133-24.24133-23.544 0-13.00266 10.852-23.54533 24.24133-23.54533 13.388 0 24.24267 10.54267 24.24267 23.54533m264.52532 37.93867H525.436v50.49733l42.88265-29.28133v-21.216" fill="#8cd024"></path>
								    <path d="M873.43064 186.4448h-182.252c12.568 5.3464 23.876 12.93067 33.48134 22.20467h137.90667c4.26133-7.012 7.908-14.438 10.864-22.20467" fill="#009748"></path>
								    <path d="M775.03865 97.12267l-4.95867 6.844-12.09733-6.844h17.056M820.93598 24.164l.02.01467c-21.492-14.17466-47.23333-22.42533-74.9-22.42533-37.61733 0-71.67866 15.252-96.33466 39.90933-2.64 2.64-5.17334 5.39067-7.592 8.24.28933.51734.576 1.03867.85466 1.57067l16.28934 27.50133 16.712-27.49333c10.05466-19.16 27.14266-28.312 48.64266-27.31733h96.308" fill="#1c63ac"></path>
								  </g>
                </svg>
                </a>
        </div><!-- #logo end -->
      </div>

      <div class="col-sm-10 col-4 align-self-center nomargin">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link uppercase t500" href="#">Acessibilidade</a>
          </li>
            <li class="nav-item">
              <a class="nav-link uppercase t500" href="#">Faq</a>
            </li>
              <!-- <li class="nav-item">
                <a class="nav-link uppercase t500 color" href="#">Login</a>
              </li> -->
        <!-- <li class="entry-categories mt-3 d-none d-sm-inline-block" style="position: relative; left: auto;">
          <a class="date-today bg-info uppercase t500" href="#">21 Agosto, 2018</a>
        </li> -->
        </ul>
      </div>

    </div>
  </div>

  <div id="header-wrap">
    <!-- Primary Navigation
				============================================= -->
    <nav id="primary-menu" class="with-arrows style-2 clearfix">

      <div class="container clearfix">

        <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

        <ul>
              <li class="menu-color-lifestyle mega-menu"><a href="#"><div class="t600 color">Sistema</div></a>
                <div class="mega-menu-content style-2 border-top-0 clearfix">
                  <ul class="mega-menu-column col-lg-3">
                    <li>
                      <div class="nav nav-sm tab-hover flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link bg-color-lifestyle active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home"
                          aria-selected="true">Usuário Interno</a>
                        <a class="nav-link bg-color-lifestyle" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
                          aria-selected="false">Consulta Processos</a>
                        <a class="nav-link bg-color-lifestyle" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages"
                          aria-selected="false">Consulta UPO</a>
                        <a class="nav-link bg-color-lifestyle" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings"
                          aria-selected="false">Autencidade de Documentos</a>
                        <a class="nav-link bg-color-lifestyle" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-3" role="tab"
                          aria-controls="v-pills-settings" aria-selected="false">Usuário Externo</a>
                      </div>
                    </li>
                  </ul>
                  <ul class="mega-menu-column col-lg-9">
                    <li>

                      <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                          <div class="row justify-content-around">
                            <div class="col-12">
                              <article class="ipost">
                      <div class="tab-content clearfix ui-tabs-panel ui-widget-content ui-corner-bottom" id="tabs-35" aria-labelledby="ui-id-19"
                        role="tabpanel" aria-hidden="false">
                        <div class="col-md-12">
                          <h3 class="color t300 nomargin nopadding">Sobre</h3>
                          <p class="nopadding">
                         Aqui o Usuário Interno poderá acessar ao SEI!RJ.
                          </p>
                        </div>
                          <hr>
                        <div class="col-md-12" >
    <a href="https://sei.fazenda.rj.gov.br/sei" target="_blank" class="button button-rounded button-reveal button-large button-green">
      <i class="material-icons"></i> <span>Usuário Interno
      </span>
    </a>
                        </div>
                      </div>
                              </article>
                            </div>


                          </div>
                        </div>
                        <div class="tab-pane" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                          <div class="row justify-content-around">
                              <div class="col-12">
                                <article class="ipost">
                      <div class="tab-content clearfix ui-tabs-panel ui-widget-content ui-corner-bottom" id="tabs-35" aria-labelledby="ui-id-19"
                        role="tabpanel" aria-hidden="false">
                        <div class="col-md-12">
                          <h3 class="color t300 nomargin nopadding">Sobre</h3>
                          <p class="nopadding ">
                            Aqui os Usuários Externos, pessoas que não são servidoras mas que participem de processos administrativos junto ao Estado
                            do Rio de Janeiro poderão visualizar processos e assinar eletronicamente contratos, convênios, termos, acordos e outros
                            instrumentos congêneres.
                          </p>
                        </div>
                        <hr>
                        <div class="col-md-12">
                          <a href="https://sei.fazenda.rj.gov.br/sei/modulos/pesquisa/md_pesq_processo_pesquisar.php?acao_externa=protocolo_pesquisar&amp;acao_origem_externa=protocolo_pesquisar&amp;id_orgao_acesso_externo=0"
                            target="_blank" class="button button-rounded button-reveal button-large button-green">
                            <i class="material-icons"></i> <span>Consulta Processual
                            </span>
                          </a>
                        </div>
                      </div>
                                </article>
                              </div>
                          </div>
                        </div>
                        <div class="tab-pane" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                          <div class="row justify-content-around">

            <div class="col-12">
              <article class="ipost">
                      <div class="tab-content clearfix ui-tabs-panel ui-widget-content ui-corner-bottom" id="tabs-35" aria-labelledby="ui-id-19"
                        role="tabpanel" aria-hidden="false">
                        <div class="col-md-12">
                          <h3 class="color t300 nomargin nopadding">Sobre</h3>
                          <p class="nopadding ">
                              Não encontrou o processo administrativo que você procura na ferramenta de pesquisa do SEI-RJ? Caso ele comece com a letra
                              ‘E’, é provável que ele tramite no papel. Neste caso, consulte o UPO, clicando no botão ao lado.
                          </p>
                        </div>
                        <hr>
                        <div class="col-md-12">
<a href="https://sei.fazenda.rj.gov.br/sei/controlador_externo.php?acao=documento_conferir&amp;id_orgao_acesso_externo=0"
  target="_blank" class="button button-rounded button-reveal button-large button-green">
  <i class="material-icons"></i> <span>Autenticidade de Documentos</span>
</a>               </div>
                      </div>
              </article>
            </div>

                          </div>
                        </div>
                        <div class="tab-pane" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                          <div class="row justify-content-around">
            <div class="col-12">
              <article class="ipost">
                      <div class="tab-content clearfix ui-tabs-panel ui-widget-content ui-corner-bottom" id="tabs-35" aria-labelledby="ui-id-19"
                        role="tabpanel" aria-hidden="false">
                        <div class="col-md-12">
                          <h3 class="color t300 nomargin nopadding">Sobre</h3>
                          <p class="nopadding ">
Aqui os Usuários Externos, pessoas que não são servidoras mas que participem de processos administrativos junto ao Estado
do Rio de Janeiro poderão visualizar processos e assinar eletronicamente contratos, convênios, termos, acordos e outros instrumentos
congêneres.
                        </div>
                        <hr>
                        <div class="col-md-12">
<a href="https://sei.fazenda.rj.gov.br/sei/controlador_externo.php?acao=usuario_externo_logar&amp;id_orgao_acesso_externo=0"
  target="_blank" class="button button-rounded button-reveal button-large button-green">
  <i class="material-icons"></i> <span>Usuário Externo
  </span>
</a>
                        </div>
                      </div>
              </article>
            </div>


                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
        <li class="menu-color-food"><a routerLink="/oquee"><div>O que é </div></a></li>
        <li class="menu-color-food"><a routerLink="/oquemuda"><div>O que muda</div></a></li>
        <li class="menu-color-food"><a routerLink="/capacitacao"><div>capacitação</div></a></li>
        <li class="menu-color-food"><a routerLink="/responsabilidades"><div>Responsabilidade</div></a></li>
        <li class="menu-color-food"><a routerLink="/sgpd"><div>sgpd</div></a></li>
        <li class="menu-color-food"><a routerLink="/legislacao"><div>legislação</div></a></li>
        <li class="menu-color-food"><a routerLink="/projeto"><div>projeto</div></a></li>

          <li class="menu-color-lifestyle"><a href="#"><div>Escritório de Processos</div></a>
            <div class="mega-menu-content border-top-0 style-2 clearfix">
                  <ul>
                    <li><a routerLink="/metodgestao"><div>Metodologia de Gestão</div></a></li>
                    <li><a routerLink="/baseconhecimento"><div>Base de conhecimento</div></a></li>

                  </ul>

            </div>
          </li>

        </ul>

        <!-- Mobile Menu
						============================================= -->
        <ul class="mobile-primary-menu">

          <li class="menu-color-lifestyle mega-menu"><a href="#"><div class="t600 color">Sistema</div></a>
            <div class="mega-menu-content style-2 border-top-0 clearfix">
              <ul class="mega-menu-column col-lg-3">
                <li>
                  <div class="nav nav-sm tab-hover flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link bg-color-lifestyle active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home"
                      aria-selected="true">Usuário Interno</a>
                    <a class="nav-link bg-color-lifestyle" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
                      aria-selected="false">Consulta Processos</a>
                    <a class="nav-link bg-color-lifestyle" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages"
                      aria-selected="false">Consulta UPO</a>
                    <a class="nav-link bg-color-lifestyle" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings"
                      aria-selected="false">Autencidade de Documentos</a>
                    <a class="nav-link bg-color-lifestyle" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-settings"
                      aria-selected="false">Usuário Externo</a>
                  </div>
                </li>
              </ul>
              <ul class="mega-menu-column col-lg-9">
                <li>

                  <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                      <div class="row justify-content-around">
                        <div class="col-12">
                          <article class="ipost">
                            <div class="tab-content clearfix ui-tabs-panel ui-widget-content ui-corner-bottom" id="tabs-35" aria-labelledby="ui-id-19"
                              role="tabpanel" aria-hidden="false">
                              <div class="col-md-12">
                                <h3 class="color t300 nomargin nopadding">Sobre</h3>
                                <p class="nopadding ">
                                  Aqui o Usuário Interno poderá acessar ao SEI!RJ.
                                </p>
                              </div>
                              <hr>
                              <div class="col-md-12">
                                <a href="https://sei.fazenda.rj.gov.br/sei" target="_blank" class="button button-rounded button-reveal button-large button-green">
                                  <i class="material-icons"></i> <span>Usuário Interno
                                  </span>
                                </a>
                              </div>
                            </div>
                          </article>
                        </div>


                      </div>
                    </div>
                    <div class="tab-pane" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                      <div class="row justify-content-around">
                        <div class="col-12">
                          <article class="ipost">
                            <div class="tab-content clearfix ui-tabs-panel ui-widget-content ui-corner-bottom" id="tabs-35" aria-labelledby="ui-id-19"
                              role="tabpanel" aria-hidden="false">
                              <div class="col-md-12">
                                <h3 class="color t300 nomargin nopadding">Sobre</h3>
                                <p class="nopadding ">
                                  Aqui os Usuários Externos, pessoas que não são servidoras mas que participem de processos administrativos junto ao Estado
                                  do Rio de Janeiro poderão visualizar processos e assinar eletronicamente contratos, convênios,
                                  termos, acordos e outros instrumentos congêneres.
                                </p>
                              </div>
                              <hr>
                              <div class="col-md-12">
                                <a href="https://sei.fazenda.rj.gov.br/sei/modulos/pesquisa/md_pesq_processo_pesquisar.php?acao_externa=protocolo_pesquisar&amp;acao_origem_externa=protocolo_pesquisar&amp;id_orgao_acesso_externo=0"
                                  target="_blank" class="button button-rounded button-reveal button-large button-green">
                                  <i class="material-icons"></i> <span>Consulta Processual
                                  </span>
                                </a>
                              </div>
                            </div>
                          </article>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                      <div class="row justify-content-around">

                        <div class="col-12">
                          <article class="ipost">
                            <div class="tab-content clearfix ui-tabs-panel ui-widget-content ui-corner-bottom" id="tabs-35" aria-labelledby="ui-id-19"
                              role="tabpanel" aria-hidden="false">
                              <div class="col-md-12">
                                <h3 class="color t300 nomargin nopadding">Sobre</h3>
                                <p class="nopadding ">
                                  Não encontrou o processo administrativo que você procura na ferramenta de pesquisa do SEI-RJ? Caso ele comece com a letra
                                  ‘E’, é provável que ele tramite no papel. Neste caso, consulte o UPO, clicando no botão ao lado.
                                </p>
                              </div>
                              <hr>
                              <div class="col-md-12">
                                <a href="https://sei.fazenda.rj.gov.br/sei/controlador_externo.php?acao=documento_conferir&amp;id_orgao_acesso_externo=0"
                                  target="_blank" class="button button-rounded button-reveal button-large button-green">
                                  <i class="material-icons"></i> <span>Autenticidade de Documentos</span>
                                </a> </div>
                            </div>
                          </article>
                        </div>

                      </div>
                    </div>
                    <div class="tab-pane" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                      <div class="row justify-content-around">
                        <div class="col-12">
                          <article class="ipost">
                            <div class="tab-content clearfix ui-tabs-panel ui-widget-content ui-corner-bottom" id="tabs-35" aria-labelledby="ui-id-19"
                              role="tabpanel" aria-hidden="false">
                              <div class="col-md-12">
                                <h3 class="color t300 nomargin nopadding">Sobre</h3>
                                <p class="nopadding ">
                                  Aqui os Usuários Externos, pessoas que não são servidoras mas que participem de processos administrativos junto ao Estado
                                  do Rio de Janeiro poderão visualizar processos e assinar eletronicamente contratos, convênios,
                                  termos, acordos e outros instrumentos congêneres.
                              </div>
                              <hr>
                              <div class="col-md-12">
                                <a href="https://sei.fazenda.rj.gov.br/sei/controlador_externo.php?acao=usuario_externo_logar&amp;id_orgao_acesso_externo=0"
                                  target="_blank" class="button button-rounded button-reveal button-large button-green">
                                  <i class="material-icons"></i> <span>Usuário Externo
                                  </span>
                                </a>
                              </div>
                            </div>
                          </article>
                        </div>


                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li class="menu-color-food"><a routerLink="/oquee"><div>O que é </div></a></li>
          <li class="menu-color-food"><a routerLink="/oquemuda"><div>O que muda</div></a></li>
          <li class="menu-color-food"><a routerLink="/capacitacao"><div>capacitação</div></a></li>
          <li class="menu-color-food"><a routerLink="/responsabilidades"><div>Responsabilidade</div></a></li>
          <li class="menu-color-food"><a routerLink="/sgpd"><div>sgpd</div></a></li>
          <li class="menu-color-food"><a routerLink="/legislacao"><div>legislação</div></a></li>
          <li class="menu-color-food"><a routerLink="/projeto"><div>projeto</div></a></li>

          <li class="menu-color-lifestyle"><a href="#"><div>Escritório de Processos</div></a>
            <div class="mega-menu-content border-top-0 style-2 clearfix">
              <ul>
                <li><a routerLink="/metodgestao"><div>Metodologia de Gestão</div></a></li>
                <li><a routerLink="/baseconhecimento"><div>Base de conhecimento</div></a></li>

              </ul>

            </div>
          </li>
        </ul>

        <!-- Top Search
						============================================= -->
        <div id="top-search">
          <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
          <form action="#" method="get">
            <input type="text" name="q" class="form-control" value="" placeholder="vai ter uma combo ao lado para orientar a pesquisa">
          </form>
        </div><!-- #top-search end -->


      </div>

    </nav><!-- #primary-menu end -->

  </div>



</header><!-- #header end -->


  <div class="container clearfix ">
    <div class="row">
    <ol class="breadcrumb">
      <li><strong>Você está aqui: &nbsp;&nbsp;</strong></li>
      <li class="breadcrumb-item"><a href="#" class="color"><strong>Inicial</strong></a></li>
      <li class="breadcrumb-item breadcrumb-item--current"><a href="#">Notícias</a></li>
    </ol>
</div>
</div>



