<div class="content-wrap">
  <div class="container clearfix">
        <h4 class="mb-2 ls1 uppercase t700">O que é</h4>
        <div class="line line-xs line-food"></div>

        <p>O Sistema Eletrônico de Informações – SEI – é um sistema de gestão de processos administrativos e documentos eletrônicos.
          É a substituição do papel como suporte para documentos institucionais. </p>


        <p>
          Com acesso via web, é um software público desenvolvido pelo Tribunal Regional Federal da 4ª Região (TRF/4) e adotado por
          diversos órgãos da administração pública brasileira.
        </p>
        <hr>
        <a class="button button-rounded button-reveal button-small button-dirtygreen"  routerLink="/">
          <i class="material-icons"></i><span>Voltar</span> </a>


        <!--[ End: CONTENT (FRAGMENT) ] -->



      </div>
    </div>
