<div class="content-wrap">
  <div class="container clearfix">

    <div class="postcontent nobottommargin clearfix">

    <h4 class="mb-2 ls1 uppercase t700">Capacitação</h4>
    <div class="line line-xs line-food"></div>
<h3>Próximos cursos presenciais confirmados:</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th><strong class="t700">Turma</strong></th>
      <th><strong class="t700">Data</strong></th>
      <th><strong class="t700">Manhã</strong></th>
      <th><strong class="t700">Tarde</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>09</td>
      <td>23 e 24 de agosto</td>
      <td>09:00 - 12:30</td>
      <td>13:30 - 17:00</td>
    </tr>
    <tr>
      <td>10</td>
      <td>3 e 4 de setembro</td>
      <td>09:00 - 12:30</td>
      <td>13:30 - 17:00</td>
    </tr>
    <tr>
      <td>11</td>
      <td>20 e 21 de setembro</td>
      <td>09:00 - 12:30</td>
      <td>13:30 - 17:00</td>
    </tr>
    <tr>
      <td>12</td>
      <td>4 e 5 de outubro</td>
      <td>09:00 - 12:30</td>
      <td>13:30 - 17:00</td>
    </tr>
    <tr>
      <td>13</td>
      <td>25 e 26 de outubro</td>
      <td>09:00 - 12:30</td>
      <td>13:30 - 17:00</td>
    </tr>
    <tr>
      <td>14</td>
      <td>8 e 9 de novembro</td>
      <td>09:00 - 12:30</td>
      <td>13:30 - 17:00</td>
    </tr>
    <tr>
      <td>15</td>
      <td>22 e 23 de novembro</td>
      <td>09:00 - 12:30</td>
      <td>13:30 - 17:00</td>
    </tr>
    <tr>
      <td>16</td>
      <td>6 e 7 de dezembro</td>
      <td>09:00 - 12:30</td>
      <td>13:30 - 17:00</td>
    </tr>
    <tr>
      <td>17</td>
      <td>17 e 18 de dezembro</td>
      <td>09:00 - 12:30</td>
      <td>13:30 - 17:00</td>
    </tr>
  </tbody>
</table>

    </div>

    <div class="sidebar nobottommargin col_last clearfix">
      <div class="sidebar-widgets-wrap">
        <div class="widget widget_links clearfix">
    <h4 class="mb-2 ls1 uppercase t700">Material</h4>
    <div class="line line-xs line-food"></div>

<h3>Vídeos:</h3>


        </div>


      </div>
    </div>
<!--
<hr>
<a class="button button-rounded button-reveal button-small button-dirtygreen" routerLink="/">
  <i class="material-icons"></i><span>Voltar</span> </a> -->

  </div>
</div>

