<div class="content-wrap">
  <div class="container clearfix">
    <div class="postcontent nobottommargin clearfix">
      <div class="single-post nobottommargin" *ngFor="let n of news">

        <div class="clearfix">

          <h4 class="mb-2 ls1 uppercase t700">Notícias</h4>
          <div class="line line-xs line-sports"></div>

          <div class="entry-image">
            <a href="#"><img src="https://dummyimage.com/844x420/ccc/aaa" alt="imagem Notícia"></a>

            <div class="text-overlay pl-4 pr-4 pb-2">
              <div class="entry-c">
                <div class="entry-categories"><a href="#" class="bg-sports">{{n.category}}</a></div>
                <div class="entry-title">
                  <h3 class="t600 mb-2"><a href="#" class="text-light">{{n.title}}</a></h3>
                </div>
                <ul class="entry-meta clearfix">
                  <li><span>Ilustração: </span> <a href="#">{{n.imageCredit}}</a></li>
                  <li>11 Set 2018</li>
                  <li><i class="icon-time"></i><span>Última modificação: </span> 02/07/2018 10h49</li>


                </ul>
              </div>
            </div>
          </div>

          <div class="entry-content notopmargin">
            <div class="noticiaitem">

              <div class="noticiaitem__resume">
                 {{n.resume}}
              </div>

              <div class="noticiaitem__text" [innerHTML]="n.text">

                <p><span class="discreet"><strong>Fonte</strong>:  {{n.fonte}}</span></p>

              </div>
              <!--//end.: noticiaitem__text -->
            </div>
            <!--//end.: noticiaitem -->

            <div class="row mb-3">
              <div class="col-12">
                <a href="#" class="btn btn-outline-secondary float-left">← Anterior</a>
                <a href="#" class="btn btn-outline-dark float-right">Próximo →</a>
              </div>
            </div>
            <div class="clear"></div>


          </div>
        </div>





      </div>
    </div>

    <!-- Sidebar
    					============================================= -->
    <div class="sidebar nobottommargin col_last clearfix">
      <div class="sidebar-widgets-wrap">


        <h4 class="mb-2 ls1 uppercase t700">
          Destaques</h4>
        <div class="line line-xs line-sports"></div>
        <div class="tabs nobottommargin clearfix" id="sidebar-tabs">

          <ul class="tab-nav clearfix">
            <li><a href="#tabs-1">Popular</a></li>
            <li><a href="#tabs-2">Recente</a></li>
          </ul>

          <div class="tab-container">

            <div class="tab-content clearfix" id="tabs-1">
              <div id="popular-post-list-sidebar">


                <div class="spost clearfix">
                  <div class="entry-image">
                    <a href="#" class="nobg"><img class="rounded-circle" src="https://dummyimage.com/48x48/699bb1/aaa" alt=""></a>
                  </div>
                  <div class="entry-c">
                    <div class="entry-title">
                      <h4><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h4>
                    </div>
                    <ul class="entry-meta">
                      <li>10 Julho 2018</li>
                    </ul>
                  </div>
                </div>

                <div class="spost clearfix">
                  <div class="entry-image">
                    <a href="#" class="nobg"><img class="rounded-circle" src="https://dummyimage.com/48x48/699bb1/aaa" alt=""></a>
                  </div>
                  <div class="entry-c">
                    <div class="entry-title">
                      <h4><a href="#">Elit Assumenda vel amet dolorum quasi</a></h4>
                    </div>
                    <ul class="entry-meta">
                      <li>18 Julho 2018</li>
                    </ul>
                  </div>
                </div>

                <div class="spost clearfix">
                  <div class="entry-image">
                    <a href="#" class="nobg"><img class="rounded-circle" src="https://dummyimage.com/48x48/699bb1/aaa" alt=""></a>
                  </div>
                  <div class="entry-c">
                    <div class="entry-title">
                      <h4><a href="#">Debitis nihil placeat, illum est nisi</a></h4>
                    </div>
                    <ul class="entry-meta">
                      <li>25 Agosto 2018</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-content clearfix" id="tabs-2">
              <div id="recent-post-list-sidebar">

                <div class="spost clearfix">
                  <div class="entry-image">
                    <a href="#" class="nobg"><img class="rounded-circle" src="https://dummyimage.com/48x48/699bb1/aaa" alt=""></a>
                  </div>
                  <div class="entry-c">
                    <div class="entry-title">
                      <h4><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h4>
                    </div>
                    <ul class="entry-meta">
                      <li>26 Agosto 2018</li>
                    </ul>
                  </div>
                </div>

                <div class="spost clearfix">
                  <div class="entry-image">
                    <a href="#" class="nobg"><img class="rounded-circle" src="https://dummyimage.com/48x48/699bb1/aaa" alt=""></a>
                  </div>
                  <div class="entry-c">
                    <div class="entry-title">
                      <h4><a href="#">Elit Assumenda vel amet dolorum quasi</a></h4>
                    </div>
                    <ul class="entry-meta">
                      <li>28 Agosto 2018</li>
                    </ul>
                  </div>
                </div>

                <div class="spost clearfix">
                  <div class="entry-image">
                    <a href="#" class="nobg"><img class="rounded-circle" src="https://dummyimage.com/48x48/699bb1/aaa" alt=""></a>
                  </div>
                  <div class="entry-c">
                    <div class="entry-title">
                      <h4><a href="#">Debitis nihil placeat, illum est nisi</a></h4>
                    </div>
                    <ul class="entry-meta">
                      <li>1 Setembro 2018</li>
                    </ul>
                  </div>
                </div>

              </div>
            </div>


          </div>

        </div>


        <!-- <div class="widget clearfix">

    <h4>Nosso Flickr</h4>
    <div id="flickr-widget" class="flickr-feed masonry-thumbs" data-id="613394@N22" data-count="16" data-type="group" data-lightbox="gallery"></div>

  </div> -->

      </div>

    </div><!-- .sidebar end -->
  </div>
</div>
