.rounded-circle {
    border-radius: 8%!important;
}

.noticiaitem p{text-align: justify}
.noticiaitem .noticiaitem__resume{font-size: 1.5rem; font-weight: 500; text-align: justify; margin: 0 0 30px 0}
