<div class="content-wrap">
  <div class="container clearfix">
    <h4 class="mb-2 ls1 uppercase t700">O que muda</h4>
    <div class="line line-xs line-food"></div>
<div class="row bottommargin-sm clearfix">
  <div class="clear"></div>


  <ul class="list-group list-download list-infografico" data-big="3" data-lightbox="gallery">
    <li class="list-group-item"><i class="material-icons"></i> <a data-lightbox="gallery-item" title="[ INFOGRÁFICO ] O que muda com o SEIRJ"
        href="/sei/documentos/oquemuda/oquemuda.jpg"><strong>[ INFOGRÁFICO ]</strong> O que muda com o SEIRJ </a></li>
    <li class="list-group-item"><i class="material-icons"></i> <a target="_blank" data-lightbox="gallery-item" title="[ INFOGRÁFICO ] Tramitação de PA com SEI"
        href="/sei/documentos/oquemuda/info-tramitacao-pa.jpg"><strong>[ INFOGRÁFICO ]</strong> Tramitação de PA com SEI</a></li>
    <li class="list-group-item"><i class="material-icons"></i> <a target="_blank" title="[ INFOGRÁFICO ] Como tramitar um processo eletrônico para órgão que ainda não usa o SEI!RJ"
        href="/sei/documentos/oquemuda/comotramitarumprocessoeletronicoparaorgaoque.png"><strong>[ INFOGRÁFICO ]</strong> Como
        tramitar um processo eletrônico para órgão que ainda não usa o SEI!RJ</a></li>
    <li class="list-group-item"><i class="material-icons"></i> <a target="_blank" data-lightbox="gallery-item" title="[ INFOGRÁFICO ] Documentos no SEI"
        href="/sei/documentos/oquemuda/documentosnosei.jpg"><strong>[ INFOGRÁFICO ]</strong> Documentos no SEI</a></li>
    <li class="list-group-item"><i class="material-icons"></i> <a target="_blank" data-lightbox="gallery-item" title="[ INFOGRÁFICO ] Reabertura de processo"
        href="/sei/documentos/oquemuda/reaberturadeprocesso.jpg"><strong>[ INFOGRÁFICO ]</strong> Reabertura de processo</a></li>
    <li class="list-group-item"><i class="material-icons"></i> <a target="_blank" data-lightbox="gallery-item" title="[ INFOGRÁFICO ] Usuário Externo"
        href="/sei/documentos/oquemuda/usuarioexterno.jpg"><strong>[ INFOGRÁFICO ]</strong> Usuário Externo</a></li>
    <li class="list-group-item"><i class="material-icons"></i> <a target="_blank" data-lightbox="gallery-item" title="[ INFOGRÁFICO ] Minuta x Documento Juntado"
        href="/sei/documentos/oquemuda/minutaxdocumentojuntado.jpg"><strong>[ INFOGRÁFICO ]</strong> Minuta x Documento Juntado</a></li>
  </ul>

</div>
    <!--[ End: CONTENT (FRAGMENT) ] -->



  </div>
</div>
