	.top-govpadrao {
    background-color: #1a2b61;
    height: 25px;
    border-bottom: 7px solid #fff!important;
    -webkit-box-shadow: -1px 2px 5px 0px rgba(163,163,163,1);
    -moz-box-shadow: -1px 2px 5px 0px rgba(163,163,163,1);
    box-shadow: -1px 2px 5px 0px rgba(163,163,163,1);
	}
	#top-bar {
		position: relative;
		border-top: 2px solid rgba(204, 204, 204, 0.3);
		border-bottom: 1px solid #EEE;
	}

.top-govpadrao img{
 z-index: 9999999999;
    position: relative;
    width: auto;
    top: -25px;
    height: 49px;
}

