<div class="top-govpadrao">
  <div class="content-wrap">

    <div class="container clearfix">

      <div class="row clearfix">
        <img id="pt1:j_id__ctru7pc30::icon" src="assets/images/default/logo-govrj.png" title="Governo do Estado do Rio de Janeiro"
          alt="Governo do Estado do Rio de Janeiro">
      </div>
    </div>
  </div>

</div>
